{% extends 'generic/object.html' %}

{% block controls %}
  {{ block.super }}
  {% if perms.netbox_openbao.discover_openbaocluster %}
    <a class="btn btn-primary" href="{% url 'plugins:netbox_openbao:openbaocluster_administration' pk=object.pk %}">
      <i class="mdi mdi-server-security"></i> Administration
    </a>
    <a class="btn btn-primary" href="{% url 'plugins:netbox_openbao:openbaocluster_capabilities' pk=object.pk %}">
      <i class="mdi mdi-api"></i> Capabilities
    </a>
  {% endif %}
  {% if perms.netbox_openbao.view_authentication_openbaocluster %}
    <a class="btn btn-primary" href="{% url 'plugins:netbox_openbao:openbaocluster_authentication' pk=object.pk %}">
      <i class="mdi mdi-account-key"></i> Authentication
    </a>
  {% endif %}
  {% if perms.netbox_openbao.view_access_openbaocluster %}
    <a class="btn btn-primary" href="{% url 'plugins:netbox_openbao:openbaocluster_access' pk=object.pk %}">
      <i class="mdi mdi-shield-account"></i> Policies and identity
    </a>
  {% endif %}
  {% if perms.netbox_openbao.view_secret_engines_openbaocluster %}
    <a class="btn btn-primary" href="{% url 'plugins:netbox_openbao:openbaocluster_secret_engines' pk=object.pk %}">
      <i class="mdi mdi-database-key"></i> Secret engines
    </a>
  {% endif %}
  {% if perms.netbox_openbao.view_operations_openbaocluster %}
    <a class="btn btn-primary" href="{% url 'plugins:netbox_openbao:openbaocluster_operations' pk=object.pk %}">
      <i class="mdi mdi-tools"></i> Leases and tools
    </a>
  {% endif %}
{% endblock controls %}
